html,
body {
  height: 100%;
  line-height: 1;
}

/*плавный переход*/
html {
  scroll-behavior: smooth;
}

/*переход с padding*/
[id] {
  scroll-margin-top: 70px;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 14px;
}

/*-----------------------------*/

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1920px;
  margin: 0px auto;
  padding: 0px 15px;
}

.header {
  position: fixed;
  background-color: #ffffffe3;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  border-bottom: 1px solid #d50000;
}

.header__container {
  display: flex;
  min-height: 100px;
  align-items: center;
}

.header__logo img {
  height: 100px;
}

.logo__text {
  color: #d50000;
  font-size: 36px;
  font-weight: 800;
}

.header__menu {
  flex: 1 1 auto;
}

.header__button {
  flex: 0 0 240px;
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.menu__list {
  display: flex;
}

.menu__link:hover {
  color: #d50000;
  transition: 0.3s ease 0s;
  text-decoration: underline;
}

.menu__item {
  margin: 0px 40px 0px 0px;
  list-style: none;
}

.menu__link {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.5px;
}

.phone__number a:hover {
  color: #d50000;
  transition: 0.3s ease 0s;
  text-decoration: underline;
}

.phone__number {
  padding: 20px;
  min-width: 180px;
}

.phone__number a {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: #000;
}

.button {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0.5px;
  color: #fff;
  box-shadow: 0 9px #999;
  padding: 15px 40px;
  background-color: #d50000;
  border-radius: 5px;
  border: 2px solid #d50000;
  text-decoration: none;
  transition: background-color 0.3s ease 0s;
}

.button:hover {
  background-color: #fff;
  color: #d50000;
}

.button:active {
  background-color: #fff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*================================*/

/* Блок формы заявки */

/*общий блок*/

.look-kitch {
  height: 100vh;
  padding: 95px 0px 0px 0px;
}

/*ограничевающий контейрен с картинкой*/
.look-kitch__container {
  display: flex;
  background-image: url("img/landing.jpg");
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
 
}

/*контейнер с затемнением*/
.bgrd-dark__container {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  z-index: 1;
}

/*Левая секция*/
.look-kitch__content {
  flex: 0 1 50%;
  display: flex;
  align-items: center;
  z-index: 2;
}

/*левый секция контейнер*/
.text-container {
  display: flex;
  justify-content: end;
  padding: 0px 30px 0px 0px;
}

/*левая секция текст*/
.look-kitch-text {
  width: 50%;
  color: #fff;
  font-size: 72px;
  line-height: 1.17;
  font-weight: 600;
}

/*Правая секция блока*/
.look-kitch__form {
  flex: 0 1 50%;
  display: flex;
  align-items: center;
  z-index: 2;
}

/*расположение блока*/
.form-block {
  display: flex;
  justify-content: start;
  padding: 0px 0px 0px 30px;
}

/*Форма отправки*/
.form-send-form {
  background-color: #fff;
  border: 2px solid #d50000;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

/*Заглавие формы*/
.form-send-form h3 {
  color: rgb(213, 0, 0);
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 10px;
  margin-top: 0px;
}

/*текст заглавия формы*/
.form-send-form p {
  font-size: 26px;
  line-height: 1.55;
  font-weight: 300;
  box-sizing: content-box;
  margin: 0;
  padding-bottom: 10px;
}

/*форма ввода*/
.form-send-form input {
  margin-top: 5px;
  width: 90%;
  border: 1px solid rgb(213, 0, 0);
  padding: 10px;
  margin-bottom: 10px;
}

/*Кнопка отправить заявку*/
.form-send-form button {
  width: 60%;
  background-color: #d50000;
  border: 2px solid #d50000;
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 5px;
  padding: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  box-shadow: 0 9px #999;
}

/*анимация кнопки*/
.form-send-form button:hover {
  color: #d50000;
  background-color: #fff;
  border: 2px solid #d50000;
  transition: background-color 0.3s ease 0s;
}

.form-send-form button:active {
  background-color: #fff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*промежуточный повторяющийся блок*/

.title-text {
  margin: auto;
  text-align: center;
  color: #d50000;
  font-weight: 100;
  font-size: 52px;
  line-height: 2;
  padding: 40px 0px 20px 0px;
}
.simple-text {
  margin: auto;
  text-align: center;
  color: #707070;
  font-size: 26px;
  line-height: 1.45;
  font-weight: 100;
  width: 60%;
  padding: 40px 0px 20px 0px;
}

.text-title {
  color: #000;
  font-weight: 300;
  font-size: 52px;
  line-height: 1.23;
  text-align: center;
}

/*Почему мы!*/
.why-we-block,
.step-block {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 25%);
}

.block {
  background-color: #fff;
  margin: 20px;
  padding: 30px;
  box-shadow: rgb(0 0 0 / 30%) 0px 0px 10px 0px;
}

.block div {
  margin: 0px;
  padding: 10px 0px 10px 0px;
}

.block h4 {
  font-size: 18px;
  color: #d50000;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.block p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

/*контейнер с блоками фото*/
.classic-kitchen__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
}

/*блоки фото*/
.classic-block {
  position: relative;
}

.classic-block img {
  height: 100%;
  width: 100%;
  position: relative;
}

/*кнопка для картинки*/
.classic-block button {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: button-animation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  padding: 10px 15px;
  color: #fff;
  background-color: #8c0404;
  border: 1px solid #610303;
  border-radius: 5px;
  font-size: 14px;
  letter-spacing: 0.1rem;
}

/*наведение на кнопку*/
.classic-block:hover button {
  display: block;
}

/*анимация кнопки*/
@keyframes button-animation {
  from {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

/* Стили для модального окна */
.modal {
  display: none; /* скрыть модальное окно по умолчанию */
  position: fixed; /* фиксированная позиция */
  z-index: 25; /* на верхнем слое */
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
   /*overflow: auto; добавить прокрутку, если контент слишком длинный */
  background-color: rgba(0, 0, 0, 0.7); /* затемнить фон */
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
}

/* Стили для крестика */
.close {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding: 5px 10px;
  margin-top: 10px;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.step-number {
  color: #d50000;
  font-size: 56px;
  margin: 0;
  font-weight: 800;
}

/*футер*/
.footer {
  padding: 50px 0px;
}

.footer__container {
  display: flex;
  flex-direction: row;
}

.contacts {
  flex: 1 1 50%;
  margin: auto;
  text-align: center;
}

.contacts h4 {
  padding: 0;
}

.map {
  flex: 1 1 50%;
}

.contacts h5 {
  font-size: 20px;
  font-weight: 600;
}

.contacts p {
  color: #707070;
}

/*========================*/
/*Media section*/
/*BURGER MENU*/
.menu__icon {
  display: none;
}

/*landscape*/
@media only screen and (max-width: 896px) and (orientation: landscape) and (max-height: 414px) {
  
  .header__logo img {
    display: none;
  }
  
  .header__logo div {
    display: block;
  }

  .header {
    height: 90px;
    margin: -24px 0px 0px 0px;
  }
  
  .look-kitch {
    padding: 60px 0px 0px 0px;
  }

  .look-kitch__container {
    height: 110vh;
    padding: 90px 0px 50px 0px;
  }
  
  .section-text {
    padding: 100px 0px 0px 0px;
  }
}

@media (max-width: 991.98px) {
  /*Делаем 3 полоски*/
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span,
  .menu__icon:before,
  .menu__icon:after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #000;
  }
  .menu__icon:before,
  .menu__icon:after {
    content: "";
  }
  .menu__icon:before {
    top: 0;
  }

  .menu__icon:after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    top: 50%;
    transform: rotate(45deg) translate(0px, -50%);
  }

  /*Конец 3 полоски*/
  /*Выездное меню*/
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 85px 0px 0px 0px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .menu__body._active {
    left: 0;
  }
  .menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: #fff;
  }
  .menu__item {
    margin: 20px 0px 20px 0px;
  }
  .menu__link {
    font-size: 30px;
  }

  .footer__container {
    flex-direction: column;
  }

  .map {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1180px) {
  /*Удаление номера в хедере*/
  .phone__number {
    display: none;
  }
  .text-container {
    padding: 0px 50px 0px 0px;
    justify-content: center;
  }
  .form-block {
    padding: 0px 30px 0px 30px;
  }

  .why-we-block,
  .step-block {
    grid-template-columns: repeat(2, 50%);
  }

  .classic-kitchen__container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0;
    padding: 15px 15px 15px 0px;
  }

  .classic-block {
    margin: 2px;
  }
}

/*PC*/
@media (max-width: 1920px) {
  [class*="__container"] {
    max-width: 1890px;
  }
}

/*TABLET*/
@media (max-width: 991.98px) {
  [class*="__container"] {
    max-width: 960px;
  }
  .form-send-form button {
    width: 85%;
  }
}

/*MOBILE*/
@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
  }

  .header {
    height: 80px;
    margin: -20px 0px 0px 0px;

  }

  /*уменьшение кнопки в хедере*/
  .button {
    padding: 10px 20px;
    width: 100%;
  }
  .header__logo > img {
    display: none;
  }
  /*Появление ГК лого */
  .logo__text {
    display: block;
    position: relative;
    z-index: 5;
  }
  .header__button {
    position: relative;
    z-index: 5;
    flex: 0 0 170px;
    padding-right: 20px;
  }
  
  .menu__body._active {
    padding: 46px 0px 0px 0px;
  }

  .look-kitch {
    padding: 60px 0px 0px 0px;
  }

  .look-kitch__container {
    flex-direction: column;
    box-sizing: border-box;
    height: 110vh;
  }
  .look-kitch__content {
    justify-content: center;
    flex: 0 1 30%;
  }

  .text-container {
    padding: 00px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    
  }

  .look-kitch-text {
    width: 90%;
    margin: 0px;
    font-size: 36px;
    text-align: center;
  }

  .form-block {
    padding: 0;
  }

  .look-kitch__form {
    justify-content: center;
  }

  .form-send-form input {
    width: auto;
  }

  .form-send-form button {
    width: auto;
  }

  .section-text {
    padding: 150px 0px 0px 0px;
  }

  .title-text {
    padding: 10px 0px 10px 0px;
    line-height: 1;
  }

  .simple-text {
    padding: 10px 0px 10px 0px;
    width: auto;
  }

  .why-we-block,
  .step-block {
    grid-template-columns: 100%;
  }

  .classic-kitchen__container {
    grid-template-columns: auto;
  }

  .classic-block button {
    visibility: hidden;
  }

  .map iframe{
    width: 90vw;
  }
}


/*Small phone*/
@media (max-width: 321.98px) {
  .look-kitch-text {
    font-size: 30px;
    line-height: 2;
  }

  .title-text {
    line-height: 1;
  }
}

/*Удаление ГК лого*/
@media (min-width: 768px) {
  .logo__text {
    display: none;
  }
}


